body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 64px - 70px);
  padding: 1.5rem 0;
}

.movies {
  display: flex;
  flex-wrap: wrap; /* Чтобы элементы переходили на следующий ряд */
  justify-content: space-between; /* Распределяет карточки с равными отступами */
  /* gap: 10px; Задает расстояние между карточками */
  gap: 0px; /* Задает расстояние между карточками */
  margin: 0 auto;
  padding: 0px;
}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
